<ion-view>
    <ion-nav-bar class="bar-royal">
        <ion-nav-title>Image list</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <h1>Image list</h1>

        <div class="list card" ng-repeat="post in posts">

            <div class="item item-avatar">
                <img ng-src="{{ post.user.profilePictureURL }}">
                <h2>{{ post.user.displayName }}</h2>
                <p>{{ post.createdAt.toLocaleString() }}</p>
                <button ng-disabled="likeButtonDisabled" ng-class="{'ion-ios-heart': post.likedByCurrentUser, 'ion-ios-heart-outline': !post.likedByCurrentUser }" class="button likeButton" ng-click="unlikeOrLikePost(post)"></button>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{ post.imageURL }}">
                <p>{{ post.message }}</p>
                <p>
                    <a class="subdued" href="#/root/likes/{{ post.id }}">{{ post.likesCount }} Like</a>
                    <a class="subdued" href="#/root/comments/{{ post.id }}">{{ post.commentsCount }} Comments</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>